.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
Icon
Icon?
ehthumbs.db
Thumbs.db
*.log
*.sql
*.sqlite
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
.idea/
.buildpath
.project
.project?
.settings/
.zfproject.xml
.externalToolBuilders/
.metadata
.metadata?
/vendor
/composer.lock
*.phar
Teste.php
sample.php
.phpunit.result.cache
